.swiper-next , .swiper-prev ,.swiper-pagination {
    top : unset !important;
    bottom : unset !important;
    left : unset !important;
    right : unset !important;
    width: auto !important;
    position: unset !important;
}