.swiper-next , .swiper-prev ,.swiper-pagination {
    top : unset !important;
    bottom : unset !important;
    left : unset !important;
    right : unset !important;
    position: unset !important;
}
.swiper-pagination{
    width: unset !important;
}
