@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --text-color: #333; /* Default text color */
  --bg-color: #fff; /* Default background color */
  --primary-color: #50489E; /* Default primary color */
  --bahaa : tomato ; 
  --gray : #F3F5F5 ;
  


}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --bg-color: #333;
  }
}


body{
  background-color: var( --gray);
}
