@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --text-color: #333; /* Default text color */
    --bg-color: #fff; /* Default background color */
    --primary-color: #50489E; /* Default primary color */
    --gray: #F3F5F5;
    --rate-color: #AD732E;
    --gray-2: #8E8E93;
    --gray-in: #D9DBE1;
    --red: #C32B43;
    --green: #27AE60;
    --label-color: #90A3BF;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #fff;
        --bg-color: #333;
    }
}


body {
    background-color: var(--gray);
}

.panner .swiper-pagination .swiper-pagination-bullet {
    width: 16px;
    height: 5px;
    border-radius: 30px;
    transition: .3s;
}

.panner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 40px;
    background-color: #fff !important;
}

.product-slide .mySwiper .swiper-slide {
    opacity: 0.4;
    transition: opacity 0.3s ease;
}

.product-slide  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
    transition: opacity 0.3s ease;
}